<div class="card shadow-sm"> 
  <div class="container-fluid p-4 news-management">

<div class="card mb-4 p-3 shadow-sm">
  <h4>Admin: Employee Master</h4><hr/>
  <form (ngSubmit)="saveEmployee()">
    <div class="row g-3">
      <div class="col-md-3">
        <label class="form-label">Full Name</label>
        <input type="text" [(ngModel)]="newEmployee.name" name="name" class="form-control" required>
      </div>

      <div class="col-md-3">
        <label class="form-label">Role</label>
        <input type="text" [(ngModel)]="newEmployee.role" name="role" class="form-control" required>
      </div>

      <div class="col-md-3">
        <label class="form-label">Department</label>
        <input type="text" [(ngModel)]="newEmployee.department" name="department" class="form-control" required>
      </div>

      <div class="col-md-3">
        <label class="form-label">Manager</label>
        <select class="form-select" [(ngModel)]="newEmployee.managerId" name="managerId">
          <option [value]="undefined">Select Manager</option>
          <option *ngFor="let e of employees" [value]="e.id">{{ e.name }} - {{ e.role }}</option>
        </select>
      </div>

      <div class="col-12 text-end mt-2">
        <button type="submit" class="btn btn-success me-2">{{ isEditMode ? 'Update' : 'Add Employee' }}</button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
      </div>
    </div>
  </form>
</div>

<div class="card mb-4 p-3 shadow-sm">
  <h5>Employee List</h5>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Role</th>
        <th>Department</th>
        <th>Manager</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ e.name }}</td>
        <td>{{ e.role }}</td>
        <td>{{ e.department }}</td>
        <td>{{ getManagerName(e.managerId) }}</td> 
        <td class="text-center">
          <button class="btn btn-sm btn-outline-primary me-2" (click)="editEmployee(e)">Edit</button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteEmployee(e)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- .find(m => m.id === e.managerId)?.name || '-'  -->