  <div class="sidebar" [class.collapsed]="collapsed">
    <div class="menu-item">
      <i class="fas fa-home menu-icon"></i> Dashboard
    </div>

    <!-- Master Data -->
    <div class="menu-item">
      <i class="fas fa-database menu-icon"></i>
      Master Data
      <i class="fas fa-chevron-right arrow-icon"></i>
      <div class="submenu">
         <a routerLink="/admin/company">Company</a>
          <a routerLink="/admin/region">Region</a>
          <a routerLink="/admin/menumaster">Menu Master</a>
           <a routerLink="/admin/roles-permission">Roles & Permissions</a>
           <a routerLink="/admin/users">User Management</a>            
        <a href="#">Employee</a>
        <a routerLink="/admin/department">Department</a>
        <a routerLink="/admin/designation">Designation / Role</a>
        <a routerLink="/admin/location">Location / Branch</a>
        <a routerLink="/admin/gender">Gender</a>
        <a routerLink="/admin/blood-group">Blood Group</a>
        <a routerLink="/admin/marital-status">Marital Status</a>
        <a routerLink="/admin/relationship">Relationship</a>
        <a routerLink="/admin/certification-type">Certification Type</a>
        <a routerLink="/admin/policy-category">Policy Category</a>
        <a routerLink="/admin/kpi-category">KPI Category</a>
        <a routerLink="/admin/attachment-type">Attachment Type</a>
        <a routerLink="/admin/project-status">Project Status</a>
        <a routerLink="/admin/asset-status">Asset Status</a>
        <a routerLink="/admin/helpdesk-category">Help Desk Category</a>
        <a routerLink="/admin/expense-category">Expense Category Type</a>
        <a routerLink="/admin/expense-status">Expense Status</a>
        <a routerLink="/admin/leave-type">Leave Type</a>
        <a routerLink="/admin/leave-status">Leave Status</a>
        <a routerLink="/admin/attendance-status">Attendance Status</a>
        <a routerLink="/admin/holiday-calendar">Holiday Calendar</a>   
      </div>
    </div>

    <!-- Configuration -->
    <div class="menu-item">
      <i class="fas fa-cogs menu-icon"></i>
      Configuration
      <i class="fas fa-chevron-right arrow-icon"></i>
      <div class="submenu">       
       
        <a routerLink="/admin/approval-workflow">Approval Workflows</a>
        <a routerLink="/admin/leave-policy">Leave Policy</a>
        <a routerLink="/admin/shift-setting">Shift Settings</a>
        <a routerLink="/admin/payroll-setting">Payroll Settings</a>
        <a routerLink="/admin/notification-setting">Notification Settings</a>
        <a routerLink="/admin/general-configuration">General Configuration</a>
         <a routerLink="/admin/attendance-configuration">Attendance Configuration</a>
          <a routerLink="/admin/timesheet-configuration">Timesheet Configuration</a>
          <a routerLink="/admin/mobileapp-configuration">Mobile App Configuration</a>
           <a routerLink="/admin/hierarchy-config">My Team Configuration</a>
           <a routerLink="/admin/events-config">Events Configuration</a>
      </div>
    </div>

    <!-- Email & Notification -->
    <div class="menu-item">
      <i class="fas fa-envelope menu-icon"></i>
      Email & Notification
      <i class="fas fa-chevron-right arrow-icon"></i>
      <div class="submenu">
        <a href="#">Email Templates</a>
        <a routerLink="/admin/sms-template">SMS Templates</a>
        <a routerLink="/admin/push-notification">Push Notifications</a>
        <a routerLink="/admin/smtp-settings">SMTP Settings</a>
        <a routerLink="/admin/notification-log">Notification Logs</a>
      </div>
    </div>

     <!-- Email & Notification -->
    <div class="menu-item">
      <i class="fas fa-envelope menu-icon"></i>
      Payroll
      <i class="fas fa-chevron-right arrow-icon"></i>
      <div class="submenu">
        <a routerLink="/admin/earnings-deductions">Earnings & Deductions</a>
        <a routerLink="/admin/tax-settings">Tax Settings</a>
        <a routerLink="/admin/pay-groups">Pay Groups</a>      
        <a routerLink="/admin/payslip-template">Payslip Template</a>
      </div>
    </div>

    <!-- System & Security -->
    <div class="menu-item">
      <i class="fas fa-shield-alt menu-icon"></i>
      System & Security
      <i class="fas fa-chevron-right arrow-icon"></i>
      <div class="submenu">
        <a routerLink="/admin/user-management">User Management</a>
        <a routerLink="/admin/audit-log">Audit Logs</a>
        <a routerLink="/admin/required-fields">Required Fields</a>
        <a routerLink="/admin/system-log">System Logs</a>
         <a routerLink="/admin/company-news">Company News</a>
          <a routerLink="/admin/company-policies">Company Policies</a>
      </div>
    </div>

    <!-- Reporting -->
    <div class="menu-item">
      <i class="fas fa-chart-line menu-icon"></i>
      Reporting & Dashboard
      <i class="fas fa-chevron-right arrow-icon"></i>
      <div class="submenu">
        <a href="#">Custom Reports</a>
        <a href="#">Dashboard Widgets</a>
      </div>
    </div>

  </div>